<%= form_with model: @new_genre, url: admin_genres_path do |f| %>
<%= f.text_field :name %>

<label>
    <%= f.radio_button :is_active, true %> 有効 </label>
<label><%= f.radio_button :is_active,false %>無効</label>
<%= f.submit %>
<% end %>

<table class="table">
    <thead>
        <th >ジャンル</th>
        <th >状態</th>
        <th ></th>
    </thead>
    <tbody>
        <% @genres.each do |x| %>
        <tr>
            <td><%= x.name %></td>
            <% if x.is_active == true%>
            <td>有効</td>
            <% else %>
            <td>無効</td>
            <% end %>
            <td><%= link_to "編集する",edit_admin_genre_path(x.id)%></td>
        </tr>
        <% end %>

    </tbody>
</table>